.fullPage-7 {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    margin-bottom: 15vh;
}

.aboutHero {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    line-height: 1.15;
}

.aboutHero h1 {
    font-size: 4vw;
    font-weight: 600;
    letter-spacing: -0.01rem;
    padding-bottom: 3vh;
}

.aboutHero p {
    max-width: 50%;
    text-align: center;
}

.meetUs {
    width: 30%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.meetUs a {
    font-size: 1.8vw;
    margin-bottom: 2vh;
}

.meetUsImages {
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: space-between;
}

.teamImage1,
.teamImage2,
.teamImage3,
.teamImage4 {
    width: 24%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.teamImage1 {
    background-image: url(/headshots/1.jpg);
}

.teamImage2 {
    background-image: url(/headshots/2.jpg);
}

.teamImage3 {
    background-image: url(/headshots/3.jpg);
}

.teamImage4 {
    background-image: url(/headshots/4.jpg);
}

.aboutHeroTextBottom1 {
    height: 100%;
    width: 70%;
}

.aboutHeroTextBottom1 p {
    max-width: 60%;
    margin-top: 2.5vh;
    font-size: 1vw;
}

.aboutHeroImage {
    width: 35%;
    background-image: url(/1100.jpg);
    background-size: cover;
    background-position: left center;
}

.fullPage-5 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoCards {
    padding: 3vw 0vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.infoCards h2 {
    font-size: 1.8vw;
    font-weight: 600;
}

.showCase {
    width: 40%;
    height: 30vw;
    background-image: url(/1316.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.fullPage-6 {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.storyWrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.storyWrapper p {
    margin-top: 5vh;
    font-size: 1.3vw;
    text-align: justify;
    letter-spacing: -0.02rem;
}

@media (max-width: 768px) {
    .fullPage-7 {
        height: 38vh;
    }

    .aboutHero h1 {
        font-size: 4.5vh;
        text-align: center;
    }

    .aboutHero p {
        max-width: 90%;
    }

    .meetUs {
        width: 90%;
    }

    .meetUs a {
        font-size: 2.5vh;
    }

    .meetUsImages {
        height: 10vh;
    }

    .fullPage-5 {
        flex-direction: column;
    }

    .infoCards {
        text-align: center;
        gap: 3vh;
    }

    .infoCards h2 {
        font-size: 3vh;
    }

    .showCase {
        display: none;
    }

    .storyWrapper {
        width: 80%;
    }

    .storyWrapper p {
        font-size: 2vh;
    }
}