.fullPage-4 {
    width: 100%;
    height: 84vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
}

.bookHero {
    margin-top: 1vh;
    width: 90%;
    display: flex;
    margin-bottom: 5vh;
}

.bookHeroText {
    width: 60%;
}

.bookHeroText h1 {
    font-size: 5vh;
    font-weight: 600;
}

.bookForm {
    width: 40%;
    flex-grow: 1;
    background: #9e9e9e;
    box-shadow: 2px 2px 20px #989898,
        -2px -2px 20px #a4a4a4;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 99%;
    height: 99%;
    background-color: aliceblue;
    border-radius: 20px;
}