footer {
    width: 100%;
    height: 10vh;
    background-color: #0f172a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    margin-left: 5vh;
}

.socials {
    display: flex;
    gap: 6vh;
    margin-right: 7vh
}

.socials svg {
    transform: scale(2);
}

@media (max-width: 768px) {
    footer {
        margin-top: 10vh;
        height: 20vh;
        flex-direction: column;
        justify-content: center;
        gap: 4vh;
    }

    footer p {
        margin-left: 0;
    }

    .socials {
        margin-right: 0;
    }
}